p{
	margin: 0;
	padding: 0;
	position: relative;
    top: 41%;
}

html,body{
  /*font-family: cursive;*/
  height:100%;
  font-size: 20px;
  font-family: 'Noto Sans TC';
  font-style: normal;
}

* {
    margin:0;
    padding:0;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.titleBar{
	height: 35px;
    position: relative;
    top: 5px;
	padding: 20px 0px 20px 0px;
}

.separateLine{
	border-bottom: solid 1px #E8E8E8;
	margin-bottom: 30px;
}

.bookingSeparateLine{
	border-bottom: solid 1px #E8E8E8;
	margin-top: 30px;
	margin-bottom: 30px;
}

.attractionTitleBar{
	height: 35px;
    position: relative;
    top: 5px;
	padding: 20px 0px 10px 0px;
}

.webtitle{
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 34px;
	color: #448899;
}

.navRightCorner{
	float:right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navRightCorner li {
    float: left;	
}


.navRightCorner a {
    text-decoration: none;
	padding-right: 20px; 
	color:black;
	font-size: 16px;
    line-height: 13px;
    font-weight: 500;
}

.welcome{
	height:320px;
	max-width:100%;
	background: no-repeat;
	background-image: url("../image/welcome.svg");
	background-size: cover;
	position: relative;
	z-index: 1;
}

.bakstatment{
	padding-top: 85px;
	font-weight: 700;
	color: #F8F8F8;
}

.bakLgText{
	margin-bottom: 15px;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 24px;
}

.bakSmText{
	margin-bottom: 25px;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 13px;
}

.search{
	width: 100%;
    max-width: 400px;
	min-width: 230px;
	height: 46px;
	background: #FFFFFF;
	border-radius: 3px;
	border: none;
	box-sizing: border-box;
	text-indent: 15px;
	font-size: 16px;
    font-weight: 700;
    line-height: 13px;
}

.searchBtn{
	width: 60px;
	height: 46px;
	background: #448899;
	border: none;
    border-radius: 3px;
}

::placeholder {
	color: #757575;
	font-weight: 700;
	font-size: 16px;
}
.inputBtndiv{
	display: flex;
	width: 100%;
	margin-bottom: 5px;
}

div.blk{
	display: inline-block;
}

.col-6{
	width:50%;
	float: left;
	height: 40px;
	margin: 20px 0;
}

.proContent{
	width:95%;
	background-color: #a7d8ff;
}

.col-4{
	width:25%;
	float: left;
	background-color: #a7d8ff;
	text-align:center;
}



.row::after {
  content: "";
  clear: both;
  display: block;
}


#noData{
	display: none;
}

.promotionSty{
	display: inline-block;
	vertical-align: middle;
}

.titleSty{
	vertical-align: middle;
	height:auto;
	display: flex;
	justify-content: space-between;
	line-height:39.14px;
	padding: 0px 10px;
	color: #757575;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	border: 1px solid #efefef;
    border-radius: 3px;
}

.smTitle{
	vertical-align: middle;
}

.btnSty{
	padding: 10px;
}

input:focus{
    outline: none;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
	animation-direction: linear;
	animation-fill-mode: forwards;
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

#logout{
	display: none;
}

#signInFrame{
	display: none;
	height: auto;
	width: 340px;
	background-color: #F8F8F8;
	border-radius: 5px;
}

#signInUpFrame{
	display: flex;
	justify-content: center;
	position: absolute;
    width: 100%;
	height: auto;
    top: 95px;
}

.littleBar{
	width: 340px; 
	height: 10px; 
	border-radius: 5px 5px 0px 0px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.loginText{
	text-align: center;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    margin: 15px 0px;
}

#overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;
	display: none;
    z-index: 0.5;
    opacity: 0.25;
}

#dialogClose{
	position: relative;
    left: 60px;
    bottom: 5px;
}

.loginInput{
	width: 310px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
}

input.loginInput{
    text-indent: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    line-height: 13px;
}

#loginBtn{
	background: #448899;
    border-radius: 5px;
    border: none;
    width: 310px;
    height: 47px;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    color: #FFFFFF;
	margin-bottom: 15px;
}

.changeToSignUp{
	font-weight: 500;
	font-size: 16px;
	line-height: 13px;
	color: #666666;
	margin-bottom: 15px;
}

.bookingPageNameDisplay{
	color: #666666;
	font-weight: 700;
	font-size: 19px;
	line-height: 16px;
	margin-bottom: 35px;
}

.paraName{
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 13px;
	color: #448899;
	margin-bottom: 10px;
}

.sameSty{
	font-weight: 500;
	font-size: 16px;
	line-height: 13px;
	color: #666666;
}

.paraMargin{
	margin-bottom: 20px;
	margin-top: 20px;
	line-height: 20px;
}

#noRecord{
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 13px;
	color: #666666;
}

.bookingTextInput{
	width: 200px;
	height: 38px;
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	margin-bottom: 25px;
	text-indent: 15px;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 13px;
	padding-left: 15px;
}

.reminder{
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.confirmBooking{
	width: 173px;
	height: 36px;
	background: #448899;
	border-radius: 5px;
	color: #FFFFFF;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 16px;	
	border: none;
}

.totalPrice{
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 13px;
	color: #666666;
	margin-bottom: 30px;
}
	
.orderDiv{
	padding-bottom: 15px;
}

@media (min-width: 1202px) and (max-width: 1920px) { 
	.grid-item-4 img{
		max-width: 270px;
		min-width: 270px;
		min-height: 197px;
		max-height: 197px;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 5px;
	}

	.grid-container-4 {
		min-height: 719px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.grid-item-4 {
	  margin: 10px 30px 30px 0px;
	  text-align: center;
	  height: auto;
	  width: 270px;
	  position: relative;
	}

	.spanblk{
		color: white;
		position: absolute;
		background: black;
		top: 157px;
		right: 0px;
		text-align: left;
		height: 40px;
		width: 270px;
		opacity: 0.6;
		border-radius: 3px;
	}

	.namespan{
		padding-left: 10px;
		font-weight: 700;
		font-size: 15px;
		line-height: 13px;	
		position: absolute;
		top: 15px;			
	}

	.container{
		margin: 0 auto;
		max-width: 1200px;
	}

	.image-container{
		margin: 0 auto;
		max-width: 1200px;
		overflow: auto;
	}

	li#menu{
		display:none;
	}

	#inputWid{
		width: 50%;
	}	

	#categoryMenu{
		display: block; 
		background: #FFFFFF;
		box-shadow: 0px 0px 20px #AABBCC;
		border-radius: 5px;
		display: none;
		width: 400px;
		height: 162px;
	}
	
	.categoryBtn{
		width: 96px;
		height: 40px;	
		border: none;
		background: white;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		margin: 8px 8px;
	}
	
	.categoryBtn:hover{
		background: #E8E8E8;
		border-radius: 5px;
		width: 96px;
		height: 40px;	
	}
	
	.catbtnDiv{
		display: grid;
		grid-template-columns: 33% 33% 33%;
	}
	
	.slideshow{
		max-width: 550px;
		position: relative;
	}
	
	.slideshowSection{
		display: grid;
		grid-template-columns: 50% 50%;
		border-bottom: solid 1px #E8E8E8;
		z-index: 1;
		position: relative;
	}

	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		transition: 0.6s ease;
	  }	

	.next {
		right: 0;
	}
	
	.prev {
		left: 0;
	}

	#slideImg{
		width: 100%;
		height: 406px;
		border-radius: 5px;
		object-fit: cover;
		vertical-align: middle;
	}

	.dot {
		cursor: pointer;
		height: 12px;
		width: 12px;
		margin: 0 2px;
		background-color: rgb(255, 255, 255);
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	  
	.dot:hover {
		background-color: #000000;
	}

	.active{
		border: solid 1px white;
		background-color: #000000;
		width: 10px;
		height: 10px;
	}

	#dotSection{
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 35px;		
	}

	.attractname{
		font-weight: 700;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 15px;
		height: 33px;
	}
	.categorymrt{
		font-weight: 500;
		font-size: 16px;
		line-height: 13px;
		margin-bottom: 20px;
		height: 22px;
	}

	.datepicker{
		width: 193px;
		height: 35px;
		font-weight: 500;
		font-size: 16px;
		line-height: 13px;
		color: #000000;
	}

	.attractInfo{
		color: #666666;
	}

	.bookingPlanDiv{
		max-width: 600px;
		height: 302px;
		background: #E8E8E8;
		border-radius: 5px;
	}

	.bookingPlan{
		font-weight: 700;
		font-size: 16px;
		line-height: 13px;
		margin-bottom: 15px;
		height: 22px;
	}

	.bookingPlan-1{
		font-weight: 500;
		font-size: 16px;
		line-height: 13px;
		margin-bottom: 15px;
		min-height: 24px;
	}

	.bookingPlan-2{
		font-size: 16px;
		line-height: 13px;
		margin-bottom: 24px;
	}

	.startToBooking{
		width: 154px;
		height: 36px;
		background: #448899;
		border-radius: 5px;
		color: #FFFFFF;
		font-weight: 400;
		font-size: 19px;
		line-height: 16px;
		border: none;
	}

	#description, #address, #transport{
		color: #666666;
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 20px;
	}

	#addressTitle, #transportsTitle{
		font-weight: 700;
		font-size: 16px;
		line-height: 13px;
		height: 32px;
		display: flex;
		align-items: center;
	}

	.radioBtn{
		width: 18px;
		height: 18px;
		margin-right: 5px;
	}

	input[name="radioGp"]{
		accent-color: #448899;
	}

	.bookingAttrSection{
		display: grid;
		grid-template-columns: 40% 55% 5%;
	}

	.bookingAttrImg{
		max-width: 266px;
		max-height: 200px;
		min-height: 200px;
		object-fit: cover;
		width: 100%;
	}

	.bookingDeleteBtn{
		width: 30px;
		height: 30px;
		background-color: white;
		background-image: url("../image/icon_delete.svg");
		border: none;
	}

	.sectionContainer{
		margin-left: 8%; 
		margin-right: 4%;
	}	
}

.observer {
	margin: 15px auto;
	border: 5px solid #f3f3f3;
	border-top: 5px solid #60A917;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
  }

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.footer{
	background: #757575;
	text-align: center;
	height: 104px;
	width: 100%;
	color: #FFFFFF;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 13px;
	display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 601px) and (max-width: 1201px) {
	.grid-item-4 img{
		min-height: 197px;
		max-height: 197px;
		min-width: 100%;
		max-width: 100%;
		object-fit: cover;
		vertical-align: middle;
		border-radius: 5px;
	}

	.grid-container-4 {
		min-height: 719px;
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.grid-item-4 {
	  margin: 10px 52px 10px 0px;
	  text-align: center;
	  position: relative;
	}

	.container{
		margin: 0 auto;
		max-width: 90%;
	}	

	.image-container{
		margin: 0 auto;
		max-width: 90%;
		overflow: auto;
	}
	
	li#menu{
		display:none;
	}

	.spanblk {
		color: white;
		position: absolute;
		background: black;
		top: 157px;
		right: 0px;
		text-align: left;
		height: 40px;
		width: 100%;
		opacity: 0.6;
		border-radius: 3px;
	}	

	.namespan{
		padding-left: 10px;
		font-weight: 700;
		font-size: 15px;
		line-height: 13px;	
		position: absolute;
		top: 15px;			
	}

	#inputWid{
		width: 50%;
	}
	
	#categoryMenu{
		display: block; 
		background: #FFFFFF;
		box-shadow: 0px 0px 20px #AABBCC;
		border-radius: 5px;
		display: none;
		width: 400px;
		height: 162px;
	}
	
	.categoryBtn{
		width: 96px;
		height: 40px;	
		border: none;
		background: white;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		margin: 8px 8px;
	}
	
	.categoryBtn:hover{
		background: #E8E8E8;
		border-radius: 5px;
		width: 96px;
		height: 40px;	
	}
	
	.catbtnDiv{
		display: grid;
		grid-template-columns: 33% 33% 33%;
	}
	
	
	.slideshow{
		max-width: 90%;
		position: relative;
	}
	
	.slideshowSection{
		display: grid;
		grid-template-columns: 50% 50%;
		border-bottom: solid 1px #E8E8E8;
		z-index: 1;
		position: relative;
	}

	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		transition: 0.6s ease;
	  }	

	.next {
		right: 0;
	}
	
	.prev {
		left: 0;
	}

	#slideImg{
		width: 100%;
		height: 406px;
		border-radius: 5px;
		object-fit: cover;
		vertical-align: middle;
	}

	.dot {
		cursor: pointer;
		height: 12px;
		width: 12px;
		margin: 0 2px;
		background-color: rgb(255, 255, 255);
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	  
	.dot:hover {
		background-color: #000000;
	}

	.active{
		border: solid 1px white;
		background-color: #000000;
		width: 10px;
		height: 10px;
	}

	#dotSection{
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 35px;		
	}

	.attractname{
		font-weight: 700;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 15px;
		height: 33px;
	}
	.categorymrt{
		font-weight: 500;
		font-size: 16px;
		line-height: 13px;
		margin-bottom: 20px;
		height: 22px;
	}

	.datepicker{
		width: 193px;
		height: 35px;
		font-weight: 500;
		font-size: 16px;
		line-height: 13px;
		color: #000000;
	}

	.attractInfo{
		color: #666666;
	}

	.bookingPlanDiv{
		max-width: 600px;
		min-height: 302px;
		background: #E8E8E8;
		border-radius: 5px;
	}

	.bookingPlan{
		font-weight: 700;
		font-size: 16px;
		line-height: 13px;
		margin-bottom: 15px;
		height: 22px;
	}

	.bookingPlan-1{
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 15px;
		min-height: 24px;
	}

	.bookingPlan-2{
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 24px;
	}

	.startToBooking{
		width: 154px;
		height: 36px;
		background: #448899;
		border-radius: 5px;
		color: #FFFFFF;
		font-weight: 400;
		font-size: 19px;
		line-height: 16px;
		border: none;
	}

	#description, #address, #transport{
		color: #666666;
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 20px;
	}

	#addressTitle, #transportsTitle{
		font-weight: 700;
		font-size: 16px;
		line-height: 13px;
		height: 32px;
		display: flex;
		align-items: center;
	}

	.radioBtn{
		width: 18px;
		height: 18px;
		margin-right: 5px;
	}

	input[name="radioGp"]{
		accent-color: #448899;
	}
	
	.bookingAttrSection{
		display: grid;
		grid-template-columns: 40% 55% 5%;
	}

	.bookingAttrImg{
		max-width: 266px;
		max-height: 200px;
		min-height: 200px;
		object-fit: cover;
		width: 100%;
	}

	.bookingDeleteBtn{
		width: 30px;
		height: 30px;
		background-color: white;
		background-image: url("../image/icon_delete.svg");
		border: none;
	}

	.sectionContainer{
		margin-left: 8%; 
		margin-right: 4%;
	}		
}

 @media (min-width: 360px) and (max-width: 600px) {
	.grid-item-4 img{
		object-fit: cover;
		vertical-align: middle;
		max-height: 235px;
		min-height: 235px;
		width: 321px;
		min-width: 100%;
		border-radius: 5px;
	}

	.grid-container-4 {
	  min-height: 719px;
	  display: grid;
	  grid-template-columns: 100%;
	}

	.grid-item-4 {
	  margin: 10px 0px 10px 0px;
	  text-align: center;
	  position: relative;
	}

	.container{
		margin: 0 auto;
		max-width: 90%;
	}
	
	.image-container{
		margin: 0 auto;
		max-width: 90%;
		overflow: auto;
	}	
	
	li#menu{
		display:block;
	}
	
	li#menu img{
		height: 28px;
		width: 30px;
		object-fit: cover;
		margin-right: 15px;
	}
	
	.spanblk {
		color: white;
		position: absolute;
		background: black;
		top: 196px;
		right: 0px;
		text-align: left;
		height: 40px;
		width: 100%;
		opacity: 0.6;
		border-radius: 3px;
	}	

	.namespan{
		padding-left: 10px;
		font-weight: 700;
		font-size: 15px;
		line-height: 13px;	
		position: absolute;
		top: 15px;			
	}
	#inputWid{
		width: 80%;
	}

	#categoryMenu{
		display: block; 
		background: #FFFFFF;
		box-shadow: 0px 0px 20px #AABBCC;
		border-radius: 5px;
		display: none;
		width: 322px;
		height: 162px;
	}
	
	.categoryBtn{
		width: 66px;
		height: 22px;	
		border: none;
		background: white;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		margin: 15px 15px;
	}
	
	.categoryBtn:hover{
		background: #E8E8E8;
		border-radius: 5px;
		width: 66px;
		height: 22px;	
	}
	
	.catbtnDiv{
		display: grid;
		grid-template-columns: 33% 33% 33%;
	}


	.slideshow{
		width: 100%;
		position: relative;
	}
	
	.slideshowSection{
		display: grid;
		grid-template-columns: 100%;
		border-bottom: solid 1px #E8E8E8;
		z-index: 1;
		position: relative;
	}

	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		transition: 0.6s ease;
	  }	

	.next {
		right: 0;
	}
	
	.prev {
		left: 0;
	}

	#slideImg{
		width: 100%;
		max-height: 350px;
		border-radius: 5px;
		object-fit: cover;
		vertical-align: middle;
	}

	.dot {
		cursor: pointer;
		height: 12px;
		width: 12px;
		margin: 0 2px;
		background-color: rgb(255, 255, 255);
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	  
	.dot:hover {
		background-color: #000000;
	}

	.active{
		border: solid 1px white;
		background-color: #000000;
		width: 10px;
		height: 10px;
	}

	#dotSection{
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 35px;		
	}

	.attractname{
		font-weight: 700;
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 15px;
		height: 33px;
	}
	.categorymrt{
		font-weight: 500;
		font-size: 16px;
		line-height: 13px;
		margin-bottom: 20px;
		height: 22px;
	}

	.datepicker{
		width: 193px;
		height: 35px;
		font-weight: 500;
		font-size: 16px;
		line-height: 13px;
		color: #000000;
	}

	.attractInfo{
		color: #666666;
	}

	.bookingPlanDiv{
		max-width: 600px;
		height: 302px;
		background: #E8E8E8;
		border-radius: 5px;
	}

	.bookingPlan{
		font-weight: 700;
		font-size: 16px;
		line-height: 13px;
		margin-bottom: 15px;
		height: 22px;
	}

	.bookingPlan-1{
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 15px;
		min-height: 24px;
	}

	.bookingPlan-2{
		font-size: 16px;
		line-height: 13px;
		margin-bottom: 24px;
	}

	.startToBooking{
		width: 154px;
		height: 36px;
		background: #448899;
		border-radius: 5px;
		color: #FFFFFF;
		font-weight: 400;
		font-size: 19px;
		line-height: 16px;
		border: none;
	}

	#description, #address, #transport{
		color: #666666;
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 20px;
	}

	#addressTitle, #transportsTitle{
		font-weight: 700;
		font-size: 16px;
		line-height: 13px;
		height: 32px;
		display: flex;
		align-items: center;
	}

	.radioBtn{
		width: 18px;
		height: 18px;
		margin-right: 5px;
	}

	input[name="radioGp"]{
		accent-color: #448899;
	}
	
	.bookingAttrSection{
		display: grid;
		grid-template-columns: 100%;
	}

	.bookingAttrImg{
		max-width: 266px;
		max-height: 200px;
		min-height: 200px;
		object-fit: cover;
		width: 100%;
		margin-bottom: 20px;
	}

	.bookingDeleteBtn{
		width: 30px;
		height: 30px;
		background-color: white;
		background-image: url("../image/icon_delete.svg");
		border: none;
	}

	.alignBookingItem{
		text-align: end;
	}
}

/* .tpfield {
	height: 40px;
	width: 300px;
	border: 1px solid gray;
	margin: 5px 0;
	padding: 5px;
}

.tappay-field-focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
} */