<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link href="{{ url_for('static', filename='./css/style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="overlay"></div>
    <div class="clearfix attractionTitleBar container">
        <div onclick="backTohomePage()" class="webtitle" style="float:left;">台北一日遊</div>
        <ul class="navRightCorner">
            <li id="appointment"><a href="#">預定行程</a></li>
            <li id="loginSignup"><a href="#">登入/註冊</a></li>
            <li id="memberPage"><a href="http://{{ apiaddress }}:3000/member">會員中心</a></li>
        </ul>
    </div>
    <div id="signInUpFrame">
        <div id="signInFrame">
            <div class="littleBar"></div>
            <div class="loginText"><span id="titleOfDialog">登入會員帳號</span><span id="dialogClose"><img src="{{ url_for('static', filename='./image/icon_close.svg') }}"></span></div>
            <div style="text-align: center;">
                <form onsubmit="return false">
                    <p id="signUpName" style="display: none;"><input id="username" class="loginInput" type="text" placeholder="輸入姓名"/></p>
                    <p><input id="email" class="loginInput" required="required" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="輸入電子信箱"/></p>
                    <p><input id="password" class="loginInput" type="password" placeholder="輸入密碼"/></p>
                    <p><button id="loginBtn">登入帳戶</button></p>
                    <p id="loginMessage" style="margin-bottom: 15px; display: none; font-size: 16px;"></p>
                    <p class="changeToSignUp"><span id="haveAcOrNot">還沒有帳戶？</span><a id="signUp" href="#">點此註冊</a></p>
                </form>
            </div>
        </div>
    </div>
    <div class="separateLine"></div>
    <div class="container slideshowSection">
        <div class="slideshow">
            <img id="slideImg">
            <a class="prev"  onclick="plusSlides(-1)">
                <img src="{{ url_for('static', filename='./image/btn_leftArrow.svg') }}" />
            </a>
            <a class="next" onclick="plusSlides(1)">
                <img src="{{ url_for('static', filename='./image/btn_rightArrow.svg') }}" />
            </a>
            <div id="dotSection"></div>
        </div>
        <div class="attractInfo">
            <div id="name" class="attractname"></div>
            <div id="categoryMrt" class="categorymrt"></div>
            <div class="bookingPlanDiv">
                <div style="padding: 15px 0 0 20px;">
                    <div class="bookingPlan">訂購導覽行程</div>
                    <div class="bookingPlan-1">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="bookingPlan-2"><span style="font-weight: 700;">選擇日期：</span><input class="datepicker" type="date" data-date-format='yy-mm-dd' id="planDate" name="planDate" ></div>
                    <div class="bookingPlan-2" style="display: flex; align-items: center;"><span style="font-weight: 700;">選擇時間：</span>
                        <input class="radioBtn" type="radio" id="morning" name="radioGp" value="上半天" checked="checked"> <span style="margin-right: 10px;">上半天</span>
                        <input class="radioBtn" type="radio" id="afternoon" name="radioGp" value="下半天"> <span>下半天</span>
                    </div>
                    <div class="bookingPlan-2"><span style="font-weight: 700;">導覽費用：</span> 新台幣 <span id="price">2000</span> 元</div>
                    <button id="startToBook" class="startToBooking">開始預約行程</button>
                </div>
            </div>
        </div><br>
   </div><br><br>
   <div class="container" style="min-height: 632px;">
        <div id="description"></div>
        <div id="addressTitle">景點地址：</div>
        <div id="address"></div>
        <div id="transportsTitle">交通方式：</div>
        <div id="transport"></div>
   </div>
   
    <footer class="footer">COPYRIGHT © 2023 台北一日遊</footer>
    <script type="text/javascript">let apiaddress ='{{ apiaddress }}';</script>
    <script src="{{ url_for('static', filename='./js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/attraction.js') }}"></script>
    <script type="text/javascript">
        setId('{{ id }}')
        getArractionsData(getId());
    </script>
</body>
</html>