<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8" />
        <title>台北一日遊</title>
        <link href="{{ url_for('static', filename='./css/style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<div class="clearfix titleBar container">
			<div class="webtitle" style="float:left;">台北一日遊</div>
			<ul class="navRightCorner">
				<li id="item1"><a href="#">預定行程</a></li>
				<li id="item2"><a href="#">登入/註冊</a></li>
			</ul>
		</div>
		<div class="welcome">
            <div class="bakstatment container">
                <p class="bakLgText">輕鬆享受台北一日悠閒</p>
                <p class="bakSmText">探索每個角落，體驗城市的深度旅遊行程</p>
                <div class="inputBtndiv">
                    <div id="inputWid">
                        <input id="attractionsSearch" onclick="searchClick()"  type="text" class="search" placeholder="輸入景點名稱查詢">
                    </div>
                    <div style="width: 100%;">
                        <button id="shBtn" onclick="searchByCategory()"class="searchBtn"><img src="{{ url_for('static', filename='./image/icon_search.svg') }}"></button>
                    </div>
                    
                </div>
                <div id="categoryMenu">
                    <div id="catbtnDiv"></div>
                </div>
            </div>
       </div><br><br>
       <div class="image-container">
        <div id="largerCon" class="grid-container-4">
            <div id="noData">找不到相關景點</div>
        </div>
        
       </div><br>
       <footer class="footer">COPYRIGHT © 2022 台北一日遊</footer>
    <script src="{{ url_for('static', filename='./js/index.js') }}"></script>                    
    </body>
</html>