<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>台北一日遊</title>
        <link href="{{ url_for('static', filename='./css/style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="overlay"></div>
            <div class="clearfix titleBar container">
                <div onclick="backTohomePage()" class="webtitle" style="float:left;">台北一日遊</div>
                <ul class="navRightCorner">
                    <li id="appointment"><a href="#">預定行程</a></li>
                    <li id="loginSignup"><a href="#">登入/註冊</a></li>
                    <li id="memberPage"><a href="/member">會員中心</a></li>
                </ul>
            </div>
            <div id="signInUpFrame">
                <div id="signInFrame">
                    <div class="littleBar"></div>
                    <div class="loginText"><span id="titleOfDialog">登入會員帳號</span><span id="dialogClose"><img src="{{ url_for('static', filename='./image/icon_close.svg') }}"></span></div>
                    <div style="text-align: center;">
                        <form onsubmit="return false">
                            <p id="signUpName" style="display: none;"><input id="username" class="loginInput" type="text" placeholder="輸入姓名"/></p>
                            <p><input id="email" class="loginInput" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="輸入電子信箱"/></p>
                            <p><input id="password" class="loginInput" type="password" placeholder="輸入密碼"/></p>
                            <p> <input id="loginBtn" type="submit" value="登入帳戶"></p>
                            <p id="loginMessage" style="margin-bottom: 15px; display: none; font-size: 16px;"></p>
                            <p class="changeToSignUp"><span id="haveAcOrNot">還沒有帳戶？</span><a id="signUp" href="#">點此註冊</a></p>
                        </form>
                    </div>
                </div>
            </div>
            <div id="preloader"></div>
            <div class="separateLine"></div>
            <div class="container" style="text-align: center;">
                <div>
                    <h3>會員資料</h3>
                    <div>用戶名: <span id="display_name"></span></div>
                    <div>用戶郵箱: <span id="display_email"></span></div>
                </div><br>
                <div class="separateLine"></div>
                <h3>歷史訂單</h3><br>
                <h5>只顯示最近十單(由新至舊)</h5>
                <div class="order-container">
                    <div class="order-title">訂單編號</div>
                    <div class="order-title">訂購人</div>
                    <div class="order-title">聯絡電話</div>
                    <div class="order-title">付款狀態</div>
                </div>
                <div id="noOrders">沒有歷史訂單</div><br>
                <button id="logout" class="confirmBooking">登出</button>
            </div><br><br>
            
            <footer class="footer" style="height: 100%;">COPYRIGHT © 2023 台北一日遊</footer>
    <script type="text/javascript">let apiaddress ='{{ apiaddress }}';</script>
    <script src="{{ url_for('static', filename='./js/common.js') }}"></script>    
    <script src="{{ url_for('static', filename='./js/member.js') }}"></script>
    </body>
</html>