<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>台北一日遊</title>
        <link href="{{ url_for('static', filename='./css/style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="overlay"></div>
            <div class="clearfix titleBar container">
                <div onclick="backTohomePage()" class="webtitle" style="float:left;">台北一日遊</div>
                <ul class="navRightCorner">
                    <li id="appointment"><a href="#">預定行程</a></li>
                    <li id="loginSignup"><a href="#">登入/註冊</a></li>
                    <li id="memberPage"><a href="http://18.181.123.151:3000/member">會員中心</a></li>
                </ul>
            </div>
            <div id="signInUpFrame">
                <div id="signInFrame">
                    <div class="littleBar"></div>
                    <div class="loginText"><span id="titleOfDialog">登入會員帳號</span><span id="dialogClose"><img src="{{ url_for('static', filename='./image/icon_close.svg') }}"></span></div>
                    <div style="text-align: center;">
                        <form onsubmit="return false">
                            <p id="signUpName" style="display: none;"><input id="username" class="loginInput" type="text" placeholder="輸入姓名"/></p>
                            <p><input id="email" class="loginInput" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="輸入電子信箱"/></p>
                            <p><input id="password" class="loginInput" type="password" placeholder="輸入密碼"/></p>
                            <p> <input id="loginBtn" type="submit" value="登入帳戶"></p>
                            <p id="loginMessage" style="margin-bottom: 15px; display: none; font-size: 16px;"></p>
                            <p class="changeToSignUp"><span id="haveAcOrNot">還沒有帳戶？</span><a id="signUp" href="#">點此註冊</a></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container" style="text-align: center;">
                <div id="display">
                    <div class="orderDiv">多謝訂購</div>
                    <div id="successOrNot" class="orderDiv"></div>
                    <div class="separateLine"></div>
                    <div class="orderDiv orderTitle">訂單資料</div>
                    <div id="order-details">
                        <div id="contact">
                            <div class="order-details-container">
                                <p class="contactN">訂購人</p> 
                                <p class="contactName" id="contact-name"></p>
                                <p class="contactP">聯絡電話</p> 
                                <p class="contactPhone" id="contact-phone"></p>
                                <p class="emailN">電子郵箱</p>
                                <p class="email" id="contact-email"></p>
                                <p class="number">訂單編號</p>
                                <p class="num">{{ num }}</p>
                            </div>
                            <div id="details" class="item-details-container">
                                <div class="formTitle">訂購項目</div>
                                <div class="formTitle">訂購日期</div>
                                <div class="formTitle">訂購時間</div>
                                <div class="formTitle">訂購金額</div>
                            </div>
                        </div><br>
                        <div class="orderDiv">歷史訂單可以到會員中心查詢</div>
                    </div>
                </div>
                <div id="noThisOrder" style="display: none; margin: 20px 0px;">沒有此訂單編號</div>
            </div>
            <br><br>
            <footer class="footer" style="height: 100%;">COPYRIGHT © 2023 台北一日遊</footer>
    <script src="{{ url_for('static', filename='./js/common.js') }}"></script>    
    <script src="{{ url_for('static', filename='./js/order.js') }}"></script>
    <script type="text/javascript">
        setNumber('{{ num }}');
        getUserStatus(getOrderData,'{{ num }}');
    </script>
    </body>
</html>